/*
The CSS code gets to executed from top to bottom and left ro right
Basic rules to write CSS
- write GENERAL rules first (for all the paragraph tags in the website for example) and only after that write CSS for SPECIFIC tags (for example the paragraph tags inside the footer)
- write the css styles to define for the parent (outside) container and THEN the children (inside containers) of that parent and THEN the children (inside containers) of the child above
*/

/* -------------------------------------
CSS reset
Is a short set of CSS rules that resets the styling of all HTML elements to a consistent baseline so the website will look the same on all browsers
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
}


/* -------------------------------------
General styles (General Module, wrapping around the modules below)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules below (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {
    text-align: center;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

#account-options-form input,
#register-user input,
#sop-description-info input {
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid grey;
    border-radius: 5px;
}


/* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/

#navigation {
    margin: 2rem;
    display: flex;
    flex-direction: column;
}

#navigation-options {
    list-style: none;
}

#navigation-options li {
    padding-bottom: 1rem;
}

#navigation-options a,
#logout {
    text-decoration: none;
}

#logout {
    padding-bottom: 1rem;
}

#dropdown-button {
    font-size: 2rem;
}

/*QUESTION: what does z-index do and do I need it?*/
#dropdown-categories {
    display: none;
    background-color: #f1f1f1f1;
    min-width: 10rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#dropdown-categories li {
    padding: .5rem;
}

#dropdown-categories a:hover {
    color: red;
}

#dropdown:hover #dropdown-categories {
    display: block;
}

h1 {
    font-size: 2rem;
    margin-top:
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

/***************REGISTER, LOGIN, LOGOUT FEATURES*********************/

#account-options-form,
#register-user {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    width: 20rem;
    margin: 0 auto;
    padding-bottom: 1rem;
}

#login-account {
    padding-bottom: 1rem;
}


#register-account-here {
    padding-bottom: .5rem;
}

/* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/


#add-content-wrapper,
#icon-selection-wrapper,
#add-icon-section,
#icon-and-card-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#add-content-wrapper input {
    text-align: center;
    padding-bottom: 1rem;
}

#add-content-wrapper input,
#add-icon-button,
#icon-search,
#update-button,
#delete-button {
    width: 200px;
    border: 1px solid black;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    text-align: center;
}

#category-title {
    padding-bottom: .25rem;
}

#subcategory-title {
    padding-bottom: .75rem;
}

#card-title {
    padding: .5rem;
}



/*#add-icon-button,*/
#update-button {
    background-color: #5bb93c;
}

#delete-button {
    background-color: #7095e8;
}

#update-button {
    margin-top: 1rem;
}

#select-icon {
    display: flex;
    flex-wrap: wrap;
    margin: 0 .1rem;
}

#select-icon img {
    width: 100px;
    height: 100px;
    margin: .5rem auto;
    border: 1px solid black;
    padding: .2rem;
    margin-right: .25rem;
}

#select-icon img:first-child {
    margin-left: .25rem;
}

#card-icon-image {
    margin: 0 auto;
    border: 1px solid grey;
    vertical-align: middle;
}

img {
    width: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



/* -------------------------------------
Footer styles (Main Module)
(all the styles inside the < footer > tag)
*/

footer {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    color: rgb(208, 177, 152);
}

/* -------------------------------------
place all the desktop styles above this line
Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
place all the mobile tables styles below this line
*/

@media only screen and (max-width: 1450px) {}
