/*
The CSS code gets to executed from top to bottom and left ro right
Basic rules to write CSS
- write GENERAL rules first (for all the paragraph tags in the website for example) and only after that write CSS for SPECIFIC tags (for example the paragraph tags inside the footer)
- write the css styles to define for the parent (outside) container and THEN the children (inside containers) of that parent and THEN the children (inside containers) of the child above
*/

/* -------------------------------------
CSS reset
Is a short set of CSS rules that resets the styling of all HTML elements to a consistent baseline so the website will look the same on all browsers */

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
}


/* -------------------------------------
General styles (General Module, wrapping around the modules below)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules below (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {
    text-align: center;
    background-color: #3b3b44;
    color: aliceblue;
    font-family: 'Open Sans', sans-serif;
}


h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
}




/* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/

/******NAVIGATION STYLES******/

nav {
    position: relative;
}

#nav-home,
#dropdown,
#logout-wrapper,
#account-options {
    display: inline-block;
    float: left;
    font-size: 1.5rem;
}


#nav-home a {
    color: aliceblue;
    text-decoration: none;
}

#dropdown a,
#dropdown-categories a,
#landing-page-login,
#landing-page-register,
#logout {
    color: #88b4c1;
    text-decoration: none;
}

#dropdown a:hover,
#dropdown-categories a:hover,
#landing-page-login:hover,
#landing-page-register:hover,
#logout:hover {
    color: aliceblue;
}

#nav-home,
#dropdown,
#logout-wrapper,
#account-options {
    padding-top: .5rem;
}

#nav-home,
#dropdown a {
    padding-left: 1rem;
}

nav li {
    list-style: none;
}

#logout-wrapper,
#account-options {
    float: right;
    padding-right: 1rem;
}

#account-options a:first-child {
    padding-right: 1rem;
}



#dropdown {
    position: absolute;
    top: 0;
    left: 78px;
}

#dropdown-categories {
    display: none;
    margin-top: .4rem;
    margin-left: .5rem;
    float: right;
    text-align: left;
    background-color: #4c4c56;
    border-radius: 2px;
    min-width: 5rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#dropdown-categories a:hover {
    color: aliceblue;
}

#dropdown:hover #dropdown-categories {
    display: block;
}



/******HEADER STYLES******/

#header-wrapper {
    clear: both;
    font-size: 2rem;
    padding-top: 2rem;
    margin-bottom: 2rem;
    font-family: 'Lora', serif;
}





/***************REGISTER, LOGIN, LOGOUT FEATURES*********************/

#login-register-wrapper label,
#login-register,
#login-register button,
#register-user-wrapper label,
#register-account a {
    display: block;
}

#login-register-form input,
#register-user-form input {
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
}

#login-register a,
#register-user-form a {
    text-decoration: none;
    color: #88b4c1;
}

#login-register a,
#register-account a {
    padding-top: 1rem;
    padding-right: 1rem;
}

#account-options-form,
#register-user {
    border: 1px solid black;
    border-radius: 5px;
    width: 20rem;
    margin: 0 auto;
    padding-bottom: 1rem;
}

#login-register button,
#register-account button {
    display: block;
    width: 7rem;
    margin: .75rem auto;
    padding: .4rem 1rem;
    border-radius: 5px;
    background-color: #88b4c1;
}


/* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/

/*DELETE*DELETE*DELETE*DELETE*DELETE*DELETE*DELETE*DELETE*DELETE*DELETE*DELETE*DELETE*/

/*#subcategory-title,*/

/*#add-new-card,*/

#login-register-wrapper,
#register-user-wrapper,
#site-info div,
#account-options {
    /*    display: none;*/
}

/*DELETE*DELETE*DELETE*DELETE*DELETE*DELETE*DELETE*DELETE*DELETE*DELETE*DELETE*DELETE*/

/******SITE INFO******/

#site-info {
    display: block;
    width: 25rem;
    margin: 0 auto;
}

#site-info h3 {
    margin-bottom: .5rem;
}

#site-info div {
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
}



/******CREATE CARD, EDIT, DELETE, NEW CATEGORY, SUBCATEGORY, ITEM******/

#add-new-card-main {
    padding-bottom: 8rem;
}

#category-select-add a,
#subcategory-select-add a,
#item-select-add a {
    text-decoration: none;
}

#new-dropdown-categories,
#new-dropdown-subcategories {
    position: relative;
    width: %;
    margin: 0 auto;
}

#new-dropdown-categories div,
#new-dropdown-subcategories div {
    display: block;
}

#new-card-wrapper-form {
    display: block;
}

#new-card-wrapper-form input {
    text-align: center;
    padding: .5rem 1rem;
    margin: 1rem;
    border-radius: 5px;
}

#new-card-wrapper-form a {
    color: #88b4c1;
}

#new-card-wrapper-form,
#add-item-wrapper {
    /*    border: 1px solid white;*/
    margin: 0 auto;
}

#select-category,
#select-subcategory,
#select-item {
    position: absolute;
    width: 100%;
    margin: 0 auto;
}

#select-subcategory h3 {
    padding-top: 5rem;
}

#add-dropdown-categories,
#add-dropdown-subcategories,
#add-dropdown-item {
    display: none;
    /*    float: right;*/
    text-align: left;
    background-color: #4c4c56;
    border-radius: 2px;
    min-width: 160px;
    max-width: 200px;
    margin: 0 auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}



#new-dropdown-categories:hover #add-dropdown-categories,
#new-dropdown-subcategories:hover #add-dropdown-subcategories,
#new-dropdown-item:hover #add-dropdown-item {
    display: block;
}

#add-dropdown-categories li,
#add-dropdown-subcategories li,
#add-dropdown-item li {
    list-style: none;
    padding: .4rem;
}

#add-dropdown-categories a,
#add-dropdown-subcategories a,
#add-dropdown-item a {
    text-decoration: none:
}

#add-dropdown-categories a:hover,
#add-dropdown-subcategories a:hover,
#add-dropdown-item a:hover {
    color: aliceblue;
}


#add-category-display-wrapper,
#add-subcategory-display-wrapper,
#add-item-display-wrapper {
    padding: 3rem 0;
}

#add-item-display-wrapper {
    /*    padding-top: 9rem;*/
}

#category-displayed div,
#subcategory-displayed div,
#item-displayed div {
    margin-bottom: .5rem;
}


#category-displayed h2,
#subcategory-displayed h2,
#item-displayed h2 {
    margin-top: 1rem;
}

#category-displayed a,
#subcategory-displayed a,
#item-displayed a {
    padding: .5rem;
}

#category-displayed a:hover,
#subcategory-displayed a:hover,
#item-displayed a:hover {
    color: aliceblue;
}

#select-icon div {
    display: block;
}


#select-icon img,
#image-selection1 img,
#image-selection2 img,
#image-selection3 img,
#image-selection4 img {
    width: 100px;
    height: 100px;
    padding: .3rem;
    background: white;
    border-radius: 3px;
}

/******DISPLAY CARD TEMPLATE STYLES******/

#category-title {
    padding: 2rem;
}

#subcategory-title li {
    list-style: none;
    padding: 1rem;
    margin: .5rem;
}

#subcategory-title h3 {
    /*    padding-bottom: 1rem;*/
}

#add-category-button,
#add-subcategory-button,
#add-item-button,
#category-displayed button,
#subcategory-displayed button,
#item-displayed button {
    text-align: center;
    padding: .5rem 1rem;
    margin: 1rem;
    border-radius: 5px;
}

#card-template li input {
    margin-left: 1rem;
}


/* -------------------------------------
Footer styles (Main Module)
(all the styles inside the < footer > tag)
*/

footer {
    margin-top: 10rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

footer a {
    text-decoration: none;
    color: #88b4c1;
}

footer a:hover {
    color: aliceblue;
}

/* -------------------------------------
place all the desktop styles above this line
Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
place all the mobile tables styles below this line
*/

@media only screen and (min-width: 500px) {
    #subcategory-title li {
        display: inline-block;
        margin-top: .5rem;
    }


    #new-card-wrapper {
        /*        width: 50%;*/
    }

    #add-subcategory-wrapper,
    #add-item-wrapper {
        width: 95%;
    }
}
