/*
The CSS code gets to executed from top to bottom and left ro right
Basic rules to write CSS
- write GENERAL rules first (for all the paragraph tags in the website for example) and only after that write CSS for SPECIFIC tags (for example the paragraph tags inside the footer)
- write the css styles to define for the parent (outside) container and THEN the children (inside containers) of that parent and THEN the children (inside containers) of the child above
*/

/* -------------------------------------
CSS reset
Is a short set of CSS rules that resets the styling of all HTML elements to a consistent baseline so the website will look the same on all browsers */

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
}


/* -------------------------------------
General styles (General Module, wrapping around the modules below)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules below (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #8aa3b9;
}

#nav-options a:hover {
    color: aliceblue;
}

body,
#add-card-item button,
#add-category button,
#add-sub-category button,
#create-card button {
    color: aliceblue;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.75rem;
}

h4,
h5 {
    font-size: 1.5rem;
}

p {
    font-size: 1.3rem;
}

#login-register-wrapper label,
#login-register button,
#register-user-wrapper label,
#register-account button,
#cat-sub-cat-select select {
    display: block;
}

#nav-options a,
#register-user-form a,
#category-display-wrapper a {
    color: #1d1d21;
    text-decoration: none;
}


#example-card-display-wrapper,
#add-card-item button,
#add-category button,
#add-sub-category button,
#create-card button,
#add-card-item input,
#add-category input,
#add-sub-category input,
#example-card-display-wrapper img,
#home-page img,
#blank-image {
    border-radius: 5px;
}

/* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/

/******NAVIGATION STYLES******/

#nav-options li {
    padding-top: .5rem;
    font-size: 1.3rem;
}

#app-navigation li {
    padding-right: .75rem;
}

#account-options {
    margin-top: .75rem;
}

#account-options li {
    display: inline-block;
}

#nav-login {
    padding: 0 .75rem;
}

#home-page {
    width: 90%;
    margin: 0 auto;
}

#home-page img,
#home-page div {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 2rem;
}

/******HEADER STYLES******/

#header-wrapper {
    width: 100%;
    background: #48484f;
    clear: both;
    font-size: 2rem;
    padding: 1rem 0;
    margin-bottom: 2rem;
    font-family: 'Lora', serif;
}

header span {
    font-size: 2.5rem;
    color: #f58048;
}

/***************REGISTER, LOGIN, LOGOUT FEATURES*********************/

#login-register-form input,
#register-user-form input,
#account-options-form,
#register-user,
#login-register button,
#register-account button {
    border-radius: 5px;
}

#login-register-form input,
#register-user-form input {
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}

#login-register a,
#register-account a {
    padding-top: 1rem;
    padding-right: 1rem;
}

#account-options-form,
#register-user {
    border: 1px solid black;
    width: 20rem;
    /*
    margin: 0 auto;padding-bottom: 1rem;
*/
}

#login-register button,
#register-account button {
    width: 7rem;
    margin: .75rem auto;
    padding: .4rem 1rem;
    background-color: #88b4c1;
}


/* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/

/******SITE INFO******/

#site-info-wrapper {
    width: 400px;
    margin: 0 auto;
    background: white;
    color: black;
    text-align: left;
    padding: .25rem;
    border-radius: 5px;
}

#site-info-wrapper div {
    padding: .5rem .5rem 0 .5rem;
}


#site-info-para2 {
    border-bottom: 2px solid #88b4c1;
    padding-bottom: .25rem;
}

#site-info-para1 span,
#site-info-para3 span {
    color: #e22525;
    font-weight: bold;
}

#site-info-para1 img,
#site-info-para3 img {
    width: 80px;
    height: 80px;
    border: 5px solid #48484f;
    border-radius: 3px;
    margin: 0 .21rem;
}

#site-info-para1 img {
    float: left;
}

#site-info-para2 img {
    float: right;
}




/******CREATE CARD, EDIT, DELETE, ADD CATEGORY, SUBCATEGORY, ITEM******/

#add-card-item input,
#add-category input,
#add-sub-category input {
    text-align: center;
    margin-bottom: 1.5rem;
    padding: .5rem 0;
}

#add-card-item button,
#add-category button,
#add-sub-category button,
#create-card button {
    padding: .5rem 1rem;
    margin-left: .5rem;
    /*    background-color: #b72727;*/
    background-color: #1759bf;
    box-shadow: 1px 2px 2px grey;
}

#save-card-button {
    margin-top: .5rem;
}

#select-cat,
#select-sub-cat,
#select-card-item {
    width: 262px;
    margin: auto;
    margin-bottom: 1rem;
    height: 30px;
}

#select-icon-wrapper {
    width: 262px;
    margin: 0 auto;
}

#select-icon-wrapper img {
    width: 75px;
    height: 75px;
    vertical-align: middle;
}

#blank-image {
    margin: auto;
    clear: both;
    padding: .25rem;
}

img,
#blank-image {
    width: 200px;
    height: 200px;
    padding: .3rem;
    background: white;
    background-size: cover;
    background-position: center center;
    border: 10px solid white;
}

/******STYLES FOR DISPLAYING CARDS******/

#example-card-display-wrapper,
.card {
    display: inline-block;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0px 0px 8px lightgrey;
    background-color: #c35d2c;
}

#example-card-sub-cat {
    margin-bottom: .5rem;
}

.card {
    margin: 1rem;
}

.subcategory {
    border-top: 1px solid white;
    margin-bottom: 3rem;
    padding-top: 3rem;
}

.category {
    border-top: 10px solid white;
    padding-top: 4rem;
}

.category:first-child {
    padding-top: 0;
    border-top: none;
}

.subcategory-link {
    width: 215px;
    margin: 0 auto;
}


.card h3,
.card h4,
.card h5,
#category-display-wrapper a {
    color: #fcfdff;
}

.card a {
    text-decoration: none;
}

.edit-delete-card a {
    color: #3d4046;
}

.card h3:hover,
.card h4:hover,
.card h5:hover,
#category-display-wrapper a:hover,
.edit-delete-card a:hover {
    color: #afdc8d;
}


.edit-delete-category {
    padding-bottom: .75rem;
}

.edit-delete-card {
    float: right;
    padding: .4rem 0;
}

.edit-delete-card a {
    padding-left: .5rem;
}



/* -------------------------------------
Footer styles (Main Module)
(all the styles inside the < footer > tag)
*/

footer {
    margin-top: 5rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    background-color: #48484f;
}

footer a {
    color: #afdc8d;
    text-decoration: none;
}

footer a:hover {
    color: aliceblue;
}

/* -------------------------------------
place all the desktop styles above this line
Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
place all the mobile tables styles below this line
*/

@media only screen and (min-width: 800px) {
    #navigation {
        margin-top: 1rem;
    }

    #app-navigation {
        float: left;
    }

    #nav-options ul {
        display: inline-block;
    }

    #nav-options li {
        display: inline-block;
        float: left;
    }

    #nav-options li:first-child {
        padding-left: .75rem;
    }

    #nav-options li:last-child {
        padding-right: .75rem;
    }

    #account-options {
        float: right;
        margin: 0;
    }

    .subcategory section {
        display: inline-block;
    }

    #accessories-subcategory-link,
    #going-out-subcategory-link,
    #business-subcategory-link,
    #bedroom-subcategory-link,
    #living-room-subcategory-link {
        vertical-align: top;
        margin-top: 8rem;
    }
